{#- maDMP template based on https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard/blob/master/examples/JSON/JSON-schema/1.0/maDMP-schema-1.0.json -#}
{%- import "_mapping.j2" as mapping with context -%}
{{ mapping.madmp|tojson(4) }}
