{%- import "content/_mapping.j2" as mapping with context -%}
{%- set dmp = mapping.madmp["dmp"] -%}
@prefix dct: <http://purl.org/dc/terms/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dcso: <https://w3id.org/dcso/ns/core#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix dcs-lang: <https://w3id.org/dcso/id/iso639-3/> .

{# URI mappings #}
{%- set uri_dmp = dmp["dmp_id"]["identifier"] -%}
{%- set uri_dmpid = uri_dmp ~ "/identifier" -%}

{%- macro make_uri(identifier, type) -%}
  {%- if identifier.startswith("http") -%}
    {{ identifier }}
  {%- elif type == "orcid" -%}
    https://orcid.org/{{ identifier }}
  {%- elif type == "doi" -%}
    https://doi.org/{{ identifier }}
  {%- elif type == "handle" -%}
    https://hdl.handle.net/{{ identifier }}
  {%- else -%}
    {{ uri_dmp }}#{{ identifier }}
  {%- endif -%}
{%- endmacro -%}

# DMP
<{{ uri_dmp }}>
  a dcso:DMP ;
  dct:title {{ dmp["title"]|tojson }} ;
  dct:description {{ dmp["description"]|tojson }} ;
  dct:language dcs-lang:{{ dmp["language"] }} ;
  dcso:ethicalIssuesExist {{ dmp["ethical_issues_exist"]|tojson }} ;
{%- if "ethical_issues_description" in dmp.keys() %}
  dcso:ethicalIssuesDescription {{ dmp["ethical_issues_description"]|tojson }} ;
{%- endif %}
  dcso:hasDMPId <{{ uri_dmpid }}> ;
{%- if "contact" in dmp.keys() %}
  dcso:hasContact <{{ make_uri(dmp["contact"]["contact_id"]["identifier"], dmp["contact"]["contact_id"]["type"]) }}> ;
{%- endif %}
{%- if "contributor" in dmp.keys() and dmp["contributor"]|length > 0 %}
  dcso:hasContributor
  {%- for contributor in dmp["contributor"] %}
    [ a dcso:Contributor ;
      dcso:hasContributorId
        [ a dcso:ContributorId ;
          dcso:identifier_type {{ contributor["contributor_id"]["type"]|tojson }} ;
          dct:identifier {{ contributor["contributor_id"]["identifier"]|tojson }} ;
        ] ;
      {%- if "mbox" in contributor.keys() %}
      foaf:mbox {{ contributor["mbox"]|tojson }} ;
      {%- endif %}
      {%- if contributor["role"]|length > 0 %}
      dcso:role {{ contributor["role"][0]|tojson }} ;
      {%- endif %}
      foaf:name {{ contributor["name"]|tojson }} ;
    ] {{ ";" if loop.last else "," }}
  {%- endfor -%}
{%- endif %}
{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
  dcso:hasProject
  {%- for project in dmp["project"] %}
    [ a dcso:Project ;
      dct:title {{ project["title"]|tojson }} ;
      {%- if "description" in project.keys() %}
      dct:description {{ project["description"]|tojson }} ;
      {%- endif %}
      dcso:start {{ project["start"]|tojson }}^^xsd:date ;
      dcso:end {{ project["end"]|tojson }}^^xsd:date ;
      {%- if "funding" in project.keys() and project["funding"]|length > 0 %}
      dcso:hasFunding
      {%- for funding in project["funding"] %}
        [ a dcso:Funding ;
          dcso:hasFunderId
            [ a dcso:FunderId ;
              dcso:identifier_type {{ funding["funder_id"]["type"]|tojson }} ;
              dct:identifier {{ funding["funder_id"]["identifier"]|tojson }} ;
            ] ;
          {%- if "funding_status" in funding.keys() %}
          dcso:fundingStatus {{ funding["funding_status"]|tojson }} ;
          {%- endif %}
          {%- if "grant_id" in funding.keys() %}
          dcso:hasGrantId
            [ a dcso:GrantId ;
              dcso:identifier_type {{ funding["grant_id"]["type"]|tojson }} ;
              dct:identifier {{ funding["grant_id"]["identifier"]|tojson }} ;
            ] ;
          {%- endif -%}
        ] {{ ";" if loop.last else "," }}
      {%- endfor -%}
      {%- endif %}
    ] {{ ";" if loop.last else "," }}
  {%- endfor -%}
{%- endif %}
{%- if "dataset" in dmp.keys() and dmp["dataset"]|length > 0 %}
  dcso:hasDataset
  {%- for dataset in dmp["dataset"] %}
    [ a dcso:Dataset ;
      dcso:hasDatasetId
        [ a dcso:DatasetId ;
          dcso:identifier_type {{ dataset["dataset_id"]["type"]|tojson }} ;
          dct:identifier {{ dataset["dataset_id"]["identifier"]|tojson }} ;
        ] ;
      dct:title {{ dataset["title"]|tojson }} ;
      {%- if "description" in dataset.keys() %}
      dct:description {{ dataset["description"]|tojson }} ;
      {%- endif %}
      dcso:personalData {{ dataset["personal_data"]|tojson }} ;
      dcso:sensitiveData {{ dataset["sensitive_data"]|tojson }} ;
      {%- if "distribution" in dataset.keys() and dataset["distribution"]|length > 0 %}
      dcso:hasDistribution
      {%- for distribution in dataset["distribution"] %}
        [ a dcso:Distribution ;
          dct:title {{ distribution["title"]|tojson }} ;
          dcso:dataAccess {{ distribution["data_access"]|tojson }} ;
          {%- if "license" in distribution.keys() and distribution["license"]|length > 0 %}
          dcso:hasLicense
          {%- for license in distribution["license"] %}
            [ a dcso:License ;
              dcso:licenseRef {{ license["license_ref"]|tojson }} ;
              dcso:startDate {{ license["start_date"]|tojson }}^^xsd:date ;
            ] {{ ";" if loop.last else "," }}
          {%- endfor -%}
          {%- endif %}
        ] {{ ";" if loop.last else "," }}
      {%- endfor -%}
      {%- endif %}
    ] {{ ";" if loop.last else "," }}
  {%- endfor -%}
{%- endif %}
  dct:created "{{ dmp["created"] }}"^^xsd:dateTime ;
  dct:modified "{{ dmp["modified"] }}"^^xsd:dateTime .

# DMP identifier
<{{ uri_dmpid }}> a dcso:DMPId ;
  dcso:identifier_type {{ dmp["dmp_id"]["type"]|tojson }} ;
  dct:identifier {{ dmp["dmp_id"]["identifier"]|tojson }} .

# DMP contact
{%- if "contact" in dmp.keys() %}
{%- set uri_contact = make_uri(dmp["contact"]["contact_id"]["identifier"], dmp["contact"]["contact_id"]["type"]) %}
{%- set uri_contact_id = uri_contact ~ "/identifier" %}
<{{ uri_contact }}> a dcso:Contact ;
  dcso:hasContactId <{{ uri_contact_id }}> ;
  foaf:mbox {{ dmp["contact"]["mbox"]|tojson }} ;
  foaf:name {{ dmp["contact"]["name"]|tojson }} .

<{{ uri_contact_id }}> a dcso:ContactId ;
  dcso:identifier_type {{ dmp["contact"]["contact_id"]["type"]|tojson }} ;
  dct:identifier {{ dmp["contact"]["contact_id"]["identifier"]|tojson }} .
{%- endif %}


# This file has been exported from Data Stewardship Wizard (ds-wizard.org)
# It is using DCSO 3.0.2 (see https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard)
