{%- macro integrationValue(reply) -%}
  {%- if reply and reply.value.value.type == "IntegrationType" -%}
    {{ reply.value.value.value.rsplit(" ![]")[0] }}
  {%- elif reply %}
    {{ reply.value.value.value }}
  {%- endif -%}
{%- endmacro -%}
