{%- import "src/_mapping.j2" as mapping with context -%}
{%- set dmp = mapping.madmp["dmp"] -%}
@prefix dct: <http://purl.org/dc/terms/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dcso: <https://w3id.org/dcso/ns/core#> .
@prefix dcat: <http://www.w3.org/ns/dcat#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix dcs-lang: <https://w3id.org/dcso/id/iso639-3/> .

{# URI mappings #}
{%- set uri_dmp = dmp["dmp_id"]["identifier"] -%}
{%- set uri_dmpid = uri_dmp ~ "/identifier" -%}

{%- macro make_uri(identifier, type) -%}
  {%- if identifier.startswith("http") -%}
    {{ identifier }}
  {%- elif type == "orcid" -%}
    https://orcid.org/{{ identifier }}
  {%- elif type == "doi" -%}
    https://doi.org/{{ identifier }}
  {%- elif type == "handle" -%}
    https://hdl.handle.net/{{ identifier }}
  {%- else -%}
    {{ uri_dmp }}#{{ identifier }}
  {%- endif -%}
{%- endmacro -%}

#####################################################################
## DMP
#####################################################################
<{{ uri_dmp }}>
  a dcso:DMP ;
  dct:title {{ dmp["title"]|tojson }} ;
  dct:description {{ dmp["description"]|tojson }} ;
  dct:language dcs-lang:{{ dmp["language"] }} ;
  dcso:ethicalIssuesExist {{ dmp["ethical_issues_exist"]|tojson }} ;
{%- if "ethical_issues_description" in dmp.keys() %}
  dcso:ethicalIssuesDescription {{ dmp["ethical_issues_description"]|tojson }} ;
{%- endif %}
  dcso:hasDMPId <{{ uri_dmpid }}> ;
{%- if "contact" in dmp.keys() %}
  dcso:hasContact <{{ make_uri(dmp["contact"]["contact_id"]["identifier"], dmp["contact"]["contact_id"]["type"]) }}> ;
{%- endif %}
{%- if "contributor" in dmp.keys() and dmp["contributor"]|length > 0 %}
  {%- for contributor in dmp["contributor"] %}
    {%- set uri_contributor = make_uri(contributor["contributor_id"]["identifier"], contributor["contributor_id"]["type"]) %}
  dcso:hasContributor <{{ uri_contributor }}> ;
  {%- endfor -%}
{%- endif %}
{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
  {%- for project in dmp["project"] %}
    {%- set uri_project = make_uri("project-" ~ loop.index, "other") %}
  dcso:hasProject <{{ uri_project }}> ;
  {%- endfor -%}
{%- endif %}
{%- if "dataset" in dmp.keys() and dmp["dataset"]|length > 0 %}
  {%- for dataset in dmp["dataset"] %}
    {%- set uri_dataset = make_uri(dataset["dataset_id"]["identifier"], dataset["dataset_id"]["type"]) %}
  dcso:hasDataset <{{ uri_dataset }}> ;
  {%- endfor -%}
{%- endif %}
{%- if "cost" in dmp.keys() and dmp["cost"]|length > 0 %}
  {%- for cost in dmp["cost"] %}
    {%- set uri_cost = make_uri("cost-" ~ loop.index, "other") %}
  dcso:hasCost <{{uri_cost}}> ;
  {%- endfor -%}
{%- endif %}
  dct:created "{{ dmp["created"] }}"^^xsd:dateTime ;
  dct:modified "{{ dmp["modified"] }}"^^xsd:dateTime  .


#####################################################################
# DMP identifier
#####################################################################
<{{ uri_dmpid }}>
  a dcso:DMPId ;
  dcso:identifier_type {{ dmp["dmp_id"]["type"]|tojson }} ;
  dct:identifier {{ dmp["dmp_id"]["identifier"]|tojson }} .


{%- if "contact" in dmp.keys() %}
#####################################################################
# Contact
#####################################################################
{%- set uri_contact = make_uri(dmp["contact"]["contact_id"]["identifier"], dmp["contact"]["contact_id"]["type"]) %}
{%- set uri_contact_id = uri_contact ~ "/identifier" %}
<{{ uri_contact }}> a dcso:Contact ;
  dcso:hasContactId <{{ uri_contact_id }}> ;
  foaf:mbox {{ dmp["contact"]["mbox"]|tojson }} ;
  foaf:name {{ dmp["contact"]["name"]|tojson }} .

<{{ uri_contact_id }}> a dcso:ContactId ;
  dcso:identifier_type {{ dmp["contact"]["contact_id"]["type"]|tojson }} ;
  dct:identifier {{ dmp["contact"]["contact_id"]["identifier"]|tojson }} .
{%- endif %}

{%- if "contributor" in dmp.keys() and dmp["contributor"]|length > 0 %}
#####################################################################
# Contributors
#####################################################################
  {%- for contributor in dmp["contributor"] %}
    {%- set uri_contributor = make_uri(contributor["contributor_id"]["identifier"], contributor["contributor_id"]["type"]) %}
    {%- set uri_contributor_id = uri_contributor ~ "/identifier" %}

<{{ uri_contributor }}> a dcso:Contributor ;
  dcso:hasContributorId <{{ uri_contributor_id }}> ;
  {%- if "mbox" in contributor.keys() %}
  foaf:mbox {{ contributor["mbox"]|tojson }} ;
  {%- endif %}
  {%- if "affiliation" in contributor.keys() and contributor["affiliation"]|length > 0 %}
    {%- for aff in contributor["affiliation"] %}
  dcso:hasAffiliation <{{ uri_contributor }}/affiliation/{{ loop.index }}> ;
    {%- endfor %}
  {%- endif %}
  {%- if contributor["role"]|length > 0 %}
  dcso:role {{ contributor["role"]|map('tojson')|join(', ') }} ;
  {%- endif %}
  foaf:name {{ contributor["name"]|tojson }} .

<{{ uri_contributor_id }}> a dcso:ContributorId ;
  dcso:identifier_type {{ contributor["contributor_id"]["type"]|tojson }} ;
  dct:identifier {{ contributor["contributor_id"]["identifier"]|tojson }} .
  {%- if "affiliation" in contributor.keys() and contributor["affiliation"]|length > 0 %}
    {%- for aff in contributor["affiliation"] %}
      {%- set uri_aff = uri_contributor ~ "/affiliation/" ~ loop.index %}
<{{ uri_aff }}> a dcso:Affiliation ;
  foaf:name {{ aff["name"]|tojson }}
      {%- if "affiliation_id" in aff.keys() %} ;
  dcso:hasAffiliationId <{{ uri_aff }}/identifier>
      {%- endif %} .
      {%- if "affiliation_id" in aff.keys() %}
<{{ uri_aff }}/identifier> a dcso:AffiliationId ;
  dcso:identifier_type {{ aff["affiliation_id"]["type"]|tojson }} ;
  dct:identifier {{ aff["affiliation_id"]["identifier"]|tojson }} .
      {%- endif %}
    {%- endfor %}
  {%- endif %}
  {%- endfor -%}
{%- endif %}

{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
#####################################################################
# Projects
#####################################################################
  {%- for project in dmp["project"] %}
    {%- set projectN = loop.index %}
    {%- set uri_project = make_uri("project-" ~ projectN, "other") %}
<{{ uri_project }}> a dcso:Project ;
  dct:title {{ project["title"]|tojson }}
  {%- if "description" in project.keys() %} ;
  dct:description {{ project["description"]|tojson }}
  {%- endif %}
  {%- if "funding" in project.keys() and project["funding"]|length > 0 %}
    {%- for funding in project["funding"] %} ;
  dcso:hasFunding <{{ make_uri("funding-" ~ projectN ~ "-" ~ loop.index, "other") }}>
    {%- endfor %}
  {%- endif %}
  {%- if "start" in project.keys() %} ;
  dcso:start {{ project["start"]|tojson }}^^xsd:date
  {%- endif %}
  {%- if "end" in project.keys() %} ;
  dcso:end {{ project["end"]|tojson }}^^xsd:date
  {%- endif %} .
  {%- endfor -%}
{%- endif %}

{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
#####################################################################
# Fundings
#####################################################################
  {%- for project in dmp["project"] %}
    {%- set projectN = loop.index -%}
    {%- if "funding" in project.keys() and project["funding"]|length > 0 %}
    {%- for funding in project["funding"] %}
      {%- set uri_funding = make_uri("funding-" ~ projectN ~ "-" ~ loop.index, "other") %}
      {%- set uri_funding_funder = make_uri(funding["funder_id"]["identifier"], funding["funder_id"]["type"]) %}
<{{ uri_funding }}> a dcso:Funding ;
  {%- if "grant_id" in funding.keys() %}
    {%- set uri_funding_grant = make_uri(funding["grant_id"]["identifier"], funding["grant_id"]["type"]) %}
  dcso:hasGrantId <{{uri_funding_grant}}> ;
  {%- endif -%}
  {%- if "funding_status" in funding.keys() %}
  dcso:fundingStatus {{ funding["funding_status"]|tojson }} ;
  {%- endif %}
  dcso:hasFunderId <{{uri_funding_funder}}> .
  {%- endfor -%}
  {%- endif %}
  {%- endfor -%}
{%- endif %}

{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
#####################################################################
# Funder IDs
#####################################################################
  {%- for project in dmp["project"] %}
    {%- if "funding" in project.keys() and project["funding"]|length > 0 %}
    {%- for funding in project["funding"] %}
      {%- set uri_funding_funder = make_uri(funding["funder_id"]["identifier"], funding["funder_id"]["type"]) %}
<{{uri_funding_funder}}> a dcso:FunderId ;
  dcso:identifier_type {{ funding["funder_id"]["type"]|tojson }} ;
  dct:identifier {{ funding["funder_id"]["identifier"]|tojson }} .
    {%- endfor -%}
    {%- endif %}
    {%- endfor -%}
{%- endif %}

{%- if "project" in dmp.keys() and dmp["project"]|length > 0 %}
#####################################################################
# Grant IDs
#####################################################################
  {%- for project in dmp["project"] %}
    {%- set projectN = loop.index -%}
    {%- if "funding" in project.keys() and project["funding"]|length > 0 %}
    {%- for funding in project["funding"] %}
  {%- if "grant_id" in funding.keys() %}
    {%- set uri_funding_grant = make_uri(funding["grant_id"]["identifier"], funding["grant_id"]["type"]) %}
<{{uri_funding_grant}}> a dcso:GrantId ;
  dcso:identifier_type {{ funding["grant_id"]["type"]|tojson }} ;
  dct:identifier {{ funding["grant_id"]["identifier"]|tojson }} .
  {%- endif -%}
  {%- endfor -%}
  {%- endif %}
  {%- endfor -%}
{%- endif %}

{%- if "dataset" in dmp.keys() and dmp["dataset"]|length > 0 %}
#####################################################################
# Datasets (with their identifiers, technical resources, metadata,
# distributions, hosts and licenses; no blank nodes)
#####################################################################
  {%- for dataset in dmp["dataset"] %}
    {%- set uri_dataset = make_uri(dataset["dataset_id"]["identifier"], dataset["dataset_id"]["type"]) %}
    {%- set uri_dataset_id = uri_dataset ~ "/identifier" %}
<{{ uri_dataset }}> a dcso:Dataset ;
  dcso:hasDatasetId <{{ uri_dataset_id }}> ;
  {%- if "alternate_identifier" in dataset.keys() and dataset["alternate_identifier"]|length > 0 %}
  {%- for alt in dataset["alternate_identifier"] %}
  dcso:hasDatasetId <{{ uri_dataset_id }}/alternate/{{ loop.index }}> ;
  {%- endfor %}
  {%- endif %}
  dct:title {{ dataset["title"]|tojson }} ;
  {%- if "description" in dataset.keys() %}
  dct:description {{ dataset["description"]|tojson }} ;
  {%- endif %}
  {%- if "type" in dataset.keys() %}
  dct:type {{ dataset["type"]|tojson }} ;
  {%- endif %}
  {%- if "is_reused" in dataset.keys() %}
  dcso:isReused {{ dataset["is_reused"]|tojson }} ;
  {%- endif %}
  {%- if "preservation_statement" in dataset.keys() %}
  dcso:preservationStatement {{ dataset["preservation_statement"]|tojson }} ;
  {%- endif %}
  {%- if "rights" in dataset.keys() %}
  dct:rights {{ dataset["rights"]|tojson }} ;
  {%- endif %}
  {%- if "technical_resource" in dataset.keys() and dataset["technical_resource"]|length > 0 %}
  {%- for tr in dataset["technical_resource"] %}
  dcso:hasTechnicalResource <{{ uri_dataset }}/technical-resource/{{ loop.index }}> ;
  {%- endfor %}
  {%- endif %}
  {%- if "metadata" in dataset.keys() and dataset["metadata"]|length > 0 %}
  {%- for md in dataset["metadata"] %}
  dcso:hasMetadata <{{ uri_dataset }}/metadata/{{ loop.index }}> ;
  {%- endfor %}
  {%- endif %}
  {%- if "data_quality_assurance" in dataset.keys() and dataset["data_quality_assurance"]|length > 0 %}
  {%- for qa in dataset["data_quality_assurance"] %}
  dcso:dataQualityAssurance {{ qa|tojson }} ;
  {%- endfor %}
  {%- endif %}
  {%- if "distribution" in dataset.keys() and dataset["distribution"]|length > 0 %}
  {%- for distribution in dataset["distribution"] %}
  dcso:hasDistribution <{{ uri_dataset }}/distribution/{{ loop.index }}> ;
  {%- endfor %}
  {%- endif %}
  dcso:personalData {{ dataset["personal_data"]|tojson }} ;
  dcso:sensitiveData {{ dataset["sensitive_data"]|tojson }} .

<{{ uri_dataset_id }}> a dcso:DatasetId ;
  dcso:identifier_type {{ dataset["dataset_id"]["type"]|tojson }} ;
  dct:identifier {{ dataset["dataset_id"]["identifier"]|tojson }} .
    {%- if "alternate_identifier" in dataset.keys() and dataset["alternate_identifier"]|length > 0 %}
    {%- for alt in dataset["alternate_identifier"] %}
<{{ uri_dataset_id }}/alternate/{{ loop.index }}> a dcso:DatasetId ;
  dcso:identifier_type {{ alt["type"]|tojson }} ;
  dct:identifier {{ alt["identifier"]|tojson }} .
    {%- endfor %}
    {%- endif %}

    {%- if "technical_resource" in dataset.keys() and dataset["technical_resource"]|length > 0 %}
    {%- for tr in dataset["technical_resource"] %}
<{{ uri_dataset }}/technical-resource/{{ loop.index }}> a dcso:TechnicalResource ;
  dct:title {{ tr["name"]|tojson }}
      {%- if "description" in tr.keys() %} ;
  dct:description {{ tr["description"]|tojson }}
      {%- endif %} .
    {%- endfor %}
    {%- endif %}

    {%- if "metadata" in dataset.keys() and dataset["metadata"]|length > 0 %}
    {%- for md in dataset["metadata"] %}
      {%- set uri_md = uri_dataset ~ "/metadata/" ~ loop.index %}
<{{ uri_md }}> a dcso:Metadata ;
  dcso:hasMetadataStandardId <{{ uri_md }}/identifier>
      {%- if "description" in md.keys() %} ;
  dct:description {{ md["description"]|tojson }}
      {%- endif %}
      {%- if "language" in md.keys() %} ;
  dcso:language {{ md["language"]|tojson }}
      {%- endif %} .
<{{ uri_md }}/identifier> a dcso:MetadataStandardId ;
  dcso:identifier_type {{ md["metadata_standard_id"]["type"]|tojson }} ;
  dct:identifier {{ md["metadata_standard_id"]["identifier"]|tojson }} .
    {%- endfor %}
    {%- endif %}

    {%- if "distribution" in dataset.keys() and dataset["distribution"]|length > 0 %}
    {%- for distribution in dataset["distribution"] %}
      {%- set uri_distribution = uri_dataset ~ "/distribution/" ~ loop.index %}
<{{ uri_distribution }}> a dcso:Distribution ;
  dct:title {{ distribution["title"]|tojson }}
      {%- if "data_access" in distribution.keys() %} ;
  dcso:dataAccess {{ distribution["data_access"]|tojson }}
      {%- endif %}
      {%- if "format" in distribution.keys() and distribution["format"]|length > 0 %}
      {%- for fmt in distribution["format"] %} ;
  dct:format {{ fmt|tojson }}
      {%- endfor %}
      {%- endif %}
      {%- if "byte_size" in distribution.keys() %} ;
  dcat:byteSize {{ distribution["byte_size"] }}
      {%- endif %}
      {%- if "download_url" in distribution.keys() %} ;
  dcat:downloadURL <{{ distribution["download_url"] }}>
      {%- endif %}
      {%- if "access_url" in distribution.keys() %} ;
  dcat:accessURL <{{ distribution["access_url"] }}>
      {%- endif %}
      {%- if "host" in distribution.keys() %} ;
  dcso:hasHost <{{ uri_distribution }}/host>
      {%- endif %}
      {%- if "license" in distribution.keys() and distribution["license"]|length > 0 %}
      {%- for license in distribution["license"] %} ;
  dcso:hasLicense <{{ uri_distribution }}/license/{{ loop.index }}>
      {%- endfor %}
      {%- endif %} .

      {%- if "host" in distribution.keys() %}
      {%- set host = distribution["host"] %}
<{{ uri_distribution }}/host> a dcso:Host
        {%- if "title" in host.keys() %} ;
  dct:title {{ host["title"]|tojson }}
        {%- endif %}
        {%- if "url" in host.keys() %} ;
  dcso:url <{{ host["url"] }}>
        {%- endif %}
        {%- if "description" in host.keys() %} ;
  dct:description {{ host["description"]|tojson }}
        {%- endif %}
        {%- if "pid_system" in host.keys() and host["pid_system"]|length > 0 %}
        {%- for ps in host["pid_system"] %} ;
  dcso:pidSystem {{ ps|tojson }}
        {%- endfor %}
        {%- endif %} .
      {#- host_id is not representable in DCSO core (no HostId class). -#}
      {%- endif %}

      {%- if "license" in distribution.keys() and distribution["license"]|length > 0 %}
      {%- for license in distribution["license"] %}
<{{ uri_distribution }}/license/{{ loop.index }}> a dcso:License ;
  dcso:licenseRef {{ license["license_ref"]|tojson }}
        {%- if "start_date" in license.keys() %} ;
  dcso:startDate {{ license["start_date"]|tojson }}^^xsd:date
        {%- endif %} .
      {%- endfor %}
      {%- endif %}
    {%- endfor %}
    {%- endif %}
  {%- endfor -%}
{%- endif %}

{%- if "cost" in dmp.keys() and dmp["cost"]|length > 0 %}
#####################################################################
# Costs
#####################################################################
  {%- for cost in dmp["cost"] %}
    {%- set uri_cost = make_uri("cost-" ~ loop.index, "other") %}
<{{ uri_cost }}> a dcso:Cost ;
  {%- if "value" in cost.keys() %}
  dcso:value {{ cost["value"]|tojson }} ;
  {%- endif -%}
  {%- if "currency_code" in cost.keys() %}
  dcso:currency_code {{ cost["currency_code"]|tojson  }} ;
  {%- endif -%}
  {%- if "description" in cost.keys() %}
  dct:description {{ cost["description"]|tojson }} ;
  {%- endif %}
  dct:title {{ cost["title"]|tojson }} .
  {%- endfor -%}
{%- endif %}

# This file has been exported from Data Stewardship Wizard (ds-wizard.org)
# It is using DCSO 3.0.2 (see https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard)
